.contact-login{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contact-form{
margin-left: 25%;
    margin-right:25%;
    width: 90%;
}
.contact-img{
    height: 400px;
    width: 200px;
}

@media only screen and (max-width: 688px){
    .contact-login{
        
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
    }
    .contact-img{
        display: none;
    }
    .contact-form{
       width: 60%;
       margin-right: 20%;
       margin-left: 20%;
    }
    
    
    
}