.contact-login{
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
}

@media only screen and (max-width: 688px){
    .contact-login{
        margin-left: 5%;
        margin-right:5%;
        width: 90%;  
    }
    
}