.quality{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

@media only screen and (max-width: 688px){
    .quality{
        grid-template-columns:repeat(1, 1fr);
        
    }
          
}