.blog{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    
}

@media only screen and (max-width: 688px){
    .blog{
        grid-template-columns:repeat(1, 1fr);
        
    }
    
  
       
}